[%-title ||= template.title %]
[%-FILTER trim-%]
  [%-FILTER collapse-%]
    [%-FILTER html -%]
      [% IF title %]
        [% c.site.name %] » [% title %]
      [%-ELSE-%]
        [% c.site.name %]
      [%-END-%]
    [%-END-%]
  [%-END-%]
[%-END-%]
