<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[% PROCESS lib/title.tt %]</title>
  <style type="text/css" media="screen">
    [% PROCESS lib/style.css %]
  </style>
  <link rel="shortcut icon" href="[% c.uri_for("/img/elektrum-favicon.png") %]" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">//<![CDATA[
jQuery(function($){

});
//]]></script>
</head>
<body>
<div id="page">
<div class="header">
[%-root_uri = c.uri_for("/") %]
[%-IF c.request.uri == root_uri %]
  <h1>[% node.title || c.site.name %]</h1>
[%-ELSE %]
  <h1><a href="[% root_uri %]" title="[% c.site.name | html %]">[% node.title || c.site.name %]</a></h1>
[%-END %]
  <div class="nav">
    <ul>
      <li><a class="button black" href="[% c.uri_for("/") %]">/</a></li>
      <li><a class="button black" href="[% c.uri_for("/n") %]">/n</a></li>
[%-IF c.user_exists-%]
      <li><a class="button" href="[% c.user.url | html %]">[% ( c.user.nickname || c.user.display ) | html %]</a></li>
      <li><a class="button green" href="[% c.uri_for("/n/create") %]">new post</a></li>
[%-END-%]
[% IF c.request.uri.path.match("Elektrum::Doc::Specification") %]
      <li><a class="button black" href="[% c.uri_for("/doc") %]">doc</a></li>
[% ELSE %]
      <li><a class="button black" href="[% c.uri_for("/doc","Elektrum::Doc::Specification") %]">spec</a></li>
[% END %]
        [%-IF c.check_user_role("admin") %]
          <li><a title="Admin" href="[% c.uri_for("/admin") %]" class="button white">...?</a></li>
        [%-END %]
        <li><a href="https://github.com/pangyre/p5-elektrum"
               class="button white">github·elektrum</a></li>
[%-IF c.user_exists-%]
      <li><a class="button white" href="[% c.uri_for("/user/logout") %]">logout</a></li>
[%-ELSE-%]
      <li><a class="button white" href="[% c.uri_for("/user/login") %]">login</a></li>
[%-END-%]

   </ul>
[%# PROCESS widget/search.tt %]
  </div>
</div>

<div id="content">

[% content %]

</div>

  <div class="footer">
       [% USE date %]
    <p>[%# the license block stuff, inlined... %]
      ©[% date.format(date.now, "%Y") %] [% site.name %] except where
      noted, all rights reserved
      &middot;
      <a href="https://github.com/pangyre/p5-elektrum">github·elektrum</a>
      &middot;
      <a href="http://sedition.com/a/3109">Sed 3.0 Spec</a>
    </p>
    <p class="center">
      <a href="http://www.catalystframework.org/"><img
       src="/img/catalyst/btn_88x31_built.png" alt="Built with
       Catalyst" class="nude"/></a>
    </p>
  </div>
 </div>
[%# -PROCESS fragment/universal_body_insert.tt %]
 </body>
</html>
